%tr
  %td.important
    = link_to credit_note.sale_id, credit_note.sale
  %td
    = link_to credit_note.customer_name, credit_note.customer
  %td= credit_note.initial_value
  %td= credit_note.remaining
