- if resource.errors.blank?
  $('.modal').modal('hide')
  $('#content .hidden-print:eq(0)').html("<div class='alert fade in alert-success'><button data-dismiss=alert' class='close'>×</button>#{t('gift_cards.update.success')}</div>")
- else
  alert("#{resource.errors.full_messages.join(", ")}")
